.preview-section_documents {
  margin-bottom: 1.6rem;

  @include bp(lg-up) {
    grid-template-columns: 55% auto;
  }

  @include bp(md) {
    margin-bottom: 4.2rem;
  }

  .title {
    padding-bottom: 0.4rem;

    @include bp(md) {
      padding-bottom: 1.3rem;
    }
  }
}

.document-item {
  padding: 3.2rem 0;
  margin: 0 11% 1.6rem 0.3rem;
  border-bottom: 1px solid #e6e6e6;

  &.d-none {
    display: none !important;
  }

  @include bp(md) {
    margin: 0 0 -0.1rem;
    padding: 1.9rem 0 2.4rem;
  }

  @include bp(xs) {
    flex-wrap: wrap;
  }

  &__title {
    font-size: 1.7rem;
    color: #272623;
    font-weight: bold;
    letter-spacing: 0.05rem;

    @include bp(md) {
      // font-size: 1.4rem;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 6.3rem;
    height: 6.3rem;
    margin-right: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid $secondary;

    @include bp(md) {
      width: 5rem;
      height: 5rem;
      margin-right: 2rem;
    }
  }

  &__text {
    flex-grow: 1;

    @include bp(xs) {
      width: 75%;
    }
  }

  &__category {
    color: #646361;
    margin: -0.1rem 0 0.2rem;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    font-weight: bold;
    margin: 0 0 0.9rem 2rem;

    @include bp(xs) {
      margin: 0.5rem 0 0 7rem;
    }

    .icon {
      margin-right: 1.7rem;

      @include bp(md) {
        display: none;
      }

      @include bp(sm) {
        // margin-right: 0.8rem;
      }
    }
  }
}
