.product {
  display: grid;
  grid-template-columns: auto 49.26%;
  grid-gap: 3.2rem;
  margin-bottom: 7.9rem;

  @include bp(md) {
    grid-template-columns: 100%;
    margin-bottom: 1.1rem;
  }

  &__title {
    line-height: 4.1rem;
    padding: 0.2rem 0 0.6rem;

    @include bp(md) {
      padding: 0 0 1.9rem;
    }
  }

  &__text {
  }
  &__image {
  }

  &__price {
  }

  &__rating {
    @include bp(md) {
      margin-right: 1.6rem;
    }
  }

  &__description {
    margin: 2.2rem 0 3.5rem;

    @include bp(md) {
      line-height: 2.4rem;
      margin: 3.5rem 0 2.5rem;
      letter-spacing: 0.054rem;
    }
  }

  &__links {
    gap: 1.4rem;
    margin: -0.4rem 0 -0.1rem;

    @include bp(md) {
      padding-bottom: 0.1rem;
      margin-bottom: 0;
    }
  }

  &__group {
    @include bp(md) {
      margin-bottom: 3.5rem;
    }

    .title {
      margin-bottom: 1.2rem;
    }
  }
}

.notice {
  padding: 1.3rem 1.6rem;
  margin-top: 3rem;

  @include bp(md) {
    margin: 2.8rem 0 3.7rem;
  }

  &__num {
    border: 1px solid #fff;
    margin-right: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.2rem;
    flex-shrink: 0;
    padding-left: 0.1rem;

    @include bp(lg) {
      margin-right: 2rem;
    }

    @include bp(md) {
      margin-right: 3.5rem;
    }

    @include bp(xs) {
      margin: 1rem 2rem 0 0;
      align-self: flex-start;
      padding: 1rem;
    }
  }

  &__text {
    font-weight: 200;
    letter-spacing: 0.075rem;
    line-height: 1.9rem;
    padding: 0.3rem 1rem 0.2rem 0;
  }
}

// tabs
.tab-section_bordered {
  padding-bottom: 4.2rem;
  border-bottom: 1px solid #e8e8e8;

  @include bp(md) {
    border: none;
    padding-bottom: 0.7rem;
  }
}
.nav-bordered {
  position: relative;
  margin-bottom: 4.1rem;
  z-index: 1;

  @include bp(xs) {
    overflow: auto;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e8e8e8;
    z-index: -1;
  }

  &__item {
    margin-right: 6.1%;

    @include bp(md) {
      margin-right: 4.8%;
    }
  }

  &__link {
    color: #272623;
    display: inline-flex;
    border-bottom: 8px solid transparent;
    opacity: 0.5;
    padding: 1.1rem 2.5rem 1.1rem 0;

    @include bp(hv) {
      &:hover {
        opacity: 1;
        color: #272623;
      }
    }

    &.active {
      border-color: #71886b;
      opacity: 1;
    }

    @include bp(md) {
      padding-right: 0;
    }
  }
}

// description
.description {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: auto 35.8%;
  padding: 0 0.2rem;

  @include bp(md) {
    grid-template-columns: 100%;
    padding: 0.2rem 0;
    letter-spacing: 0.055rem;
    line-height: 2.4rem;
  }

  p {
    margin-bottom: 2.2rem;

    @include bp(md) {
      margin-bottom: 2.4rem;
    }
  }

  &-group {
    padding-top: 0.2rem;
    margin-right: -0.6rem;

    @include bp(md) {
      grid-gap: 2rem 7.1%;
      margin-bottom: 2.1rem;
    }
  }

  &-item {
    margin-bottom: 3.85rem;

    @include bp(lg) {
      margin-bottom: 2rem;
    }

    @include bp(md) {
      margin-bottom: 2.3rem;
    }

    &__icon {
      margin-bottom: 1.2rem;
      min-height: 5.1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include bp(md) {
        min-height: 0.1rem;
        min-width: 3.9rem;
        margin: 0 1.1rem 0 0;
      }
    }

    &__title {
      @include bp(lg) {
        min-height: 4.4rem;
      }

      @include bp(md) {
        min-height: 0.1rem;
      }
    }
  }
}
